.container {
    background-color:white;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 30px;
    margin-left: 250px;
    margin-bottom: 20px;
    width: 600px;
}

.newstopic {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 500;
    padding-top: 10px;
}

div.picture1 {
    width:500x;
    height:350px;
    background-image:url('terveelliset-ruoat.jpg');
 }

 div.picture2 {
    width:500x;
    height:300px;
    background-image:url('Jalkapallo.jpg');
 }