.container {
    background-color: rgb(3, 105, 121);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    padding-left: 20px;
    color: white;
}

.header {
    font-weight: 700;
}